/*!-------------------------------------------------------------

    THROUGHOUT SITE

  -------------------------------------------------------------*/

html, body {
    height : 100%;
    margin : 0px;
    padding : 0px;
    font-family: 'Allerta', sans-serif;

    h1 {
      color: white;
    }
}

.row.full-width {
  width : 100%;
  max-width : 100%;
}

.hCtrl {

}


/*!-------------------------------------------------------------

    PAGES

  -------------------------------------------------------------*/

#nav {
  position: fixed;
  z-index: 2;
  background-color: transparent;

  a {
    color: white;
    font-weight: bold;
  }

  .sub-nav {
    float: right !important;

    dd {
      margin: 15px;
    }

    dd.active a {
      background-color: #34495e;
    }

    dd.hero.active a {
      background-color: transparent;
    }

  }

}

.smallimage {
  img {
    height: 75%;
    width: 75%;
    margin-left: 1em;
  }
}

#hero {
  background-image: url(image_path('herofilter.jpg'));
  background-size: cover;
  z-index: 1;

  #logo {
    margin-left: 3em;
    margin-top: 2em;
  }
}

#arrow {
  position: relative;
  top: 95%;
  width: 3%;
  height: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#shop {
  z-index: 1;
  background-color: #867c73;
  position: relative;

  img {
    position: absolute;
    bottom: 0;
    max-height: 100%;
  }

  p.large {
    position: absolute;
    top: 28%;
    left: 45%;
    color: white;
    font-size: 100px;
    text-align: center;
    font-family: 'Allerta', sans-serif;
  }

  h4.shop {
    position: absolute;
    top: 68%;
    left: 75%;
    color: #11273d;
  }

}


#about {
  background-image: url(image_path('aboutbg.jpg'));
  background-size: cover;
  position: fixed;
  z-index: 0;
}

#aboutText {
  background-color: rgba(189, 195, 199,0.3);

  #good, #diff, #her {
    margin-top: 30%;
    background-color: rgba(189, 195, 199,0.7);
  }

  h2 {
    text-align: center; 
    color: #11273d; 
  } 

  p {
    text-align:justify;
    color: #11273d;
  }
}

#contact {
  background-color: #867c73;
}




