---
page_title:         "Refind Denim"
body_class:         "Refind Denim"
page_description:   "Vintage Jeans and Shorts by Rose Tran. Photography: Erik Valind  Development/Design: Doa Jafri"
---

.row.full-width.page

  %div#nav{"data-magellan-expedition" => "fixed"}
    .smallimage.large-2.columns.end
      = link_to image_tag("logo.png"), "#hero"
    %dl.sub-nav
      %dd.hero{"data-magellan-arrival" => "hero"}
        %a{:href => "#hero"}     
      %dd{"data-magellan-arrival" => "shop"}
        %a{:href => "#shop"} SHOP
      %dd{"data-magellan-arrival" => "aboutText"}
        %a{:href => "#aboutText"} ABOUT
      %dd{"data-magellan-arrival" => "contact"}
        %a{:href => "#contact"} CONTACT
      %dd
        %a{:href => "http://refinddenim.wordpress.com/"} BLOG
  
  #hero.large-12.columns.hCtrl
    %a{:name => "hero"}
      %h3{"data-magellan-destination" => "hero"}
    / %h1 &#9600;&#9600;
    / %h2 &darr; also rarr and 
    #arrow
      = link_to image_tag('arrow.png'), '#shop'
    #logo.large-6.columns.end
      %a{:href => "#hero"}
        %img{:src => image_path('logo.png')}
  
  #shop.large-12.columns.hCtrl
    %a{:name => "shop"}
      %h3{"data-magellan-destination" => "shop"}
    / .shoppic.large-6.columns.hCtrlDiv
    =image_tag "meshop.jpg", :id => "meshop", :alt => "jeans"
    / .shoppic.large-6.columns.hCtrlDiv
    =image_tag "juliashop.jpg"

  #about.large-12.columns.hCtrl

  #aboutText.large-12.columns.hCtrl
    %a{:name => "aboutText"}
      %h3{"data-magellan-destination" => "aboutText"}
    %h1 about us

  #contact.large-12.columns.hCtrl
    %a{:name => "contact"}
      %h3{"data-magellan-destination" => "contact"}
    %h1 omg contact info