---
page_title:         "Refind Denim"
body_class:         "Refind Denim"
page_description:   "Vintage Jeans and Shorts by Rose Tran. Photography: Erik Valind  Development/Design: Doa Jafri"
---

.row.full-width.page

  %div#nav{"data-magellan-expedition" => "fixed"}
    .smallimage.large-2.columns.end
      = link_to image_tag("logo.png"), "#hero"
    %dl.sub-nav
      %dd.hero{"data-magellan-arrival" => "hero"}
        %a{:href => "#hero"}     
      %dd{"data-magellan-arrival" => "shop"}
        %a{:href => "#shop"} SHOP
      %dd{"data-magellan-arrival" => "aboutText"}
        %a{:href => "#aboutText"} ABOUT
      %dd{"data-magellan-arrival" => "contact"}
        %a{:href => "#contact"} CONTACT
      %dd
        %a{:href => "http://refinddenim.wordpress.com/"} BLOG
  
  #hero.large-12.columns.hCtrl
    %a{:name => "hero"}
      %h3{"data-magellan-destination" => "hero"}
    #arrow
      = link_to image_tag('arrow.png'), '#shop'
    #logo.large-6.columns.end
      %a{:href => "#hero"}
        %img{:src => image_path('logo.png')}
  
  #shop.large-12.columns.hCtrlAdj
    %a{:name => "shop"}
      %h3{"data-magellan-destination" => "shop"}
    #slider.hidden.large-12.columns.hCtrl
      .slide1
        =image_tag "meshop.jpg", :id => "meshop"
        %p.large 
          The Perfect
          %br 
            Boyfriend
        %h4.shop Shop Jeans &rarr;
      .slide2
        =image_tag "juliashop.jpg"
        %p.large 
          The Hook-up
          %br 
            Cut-offs
        %h4.shop Shop Shorts &rarr;

  #about.large-12.columns.hCtrl

  #aboutText.large-12.columns.hCtrl
    %a{:name => "aboutText"}
      %h3{"data-magellan-destination" => "aboutText"}
    #good.large-4.columns
      %h2 Doing Good. 
      %p
        Creating denims for the greater good, each vintage pair is carefully selected and redesigned in-house. We believe that everyone deserves the perfect pair of boyfriend jeans without compromising comfort and/or style. The worn-in nature provides a sense of belonging and the process of design makes each pair a one-of-a-kind.  
    #diff.large-4.columns
      %h2 Being Different.
      %p
        Being born (or reborn) in the heart of NYC, we strive to be distinct by staying on top of our game by emphasizing our creativity. Our products are high in quality and versatile to remain at the core of your closet forever.
    #her.large-4.columns
      %h2 For Her.
      %p
        We design for the woman brave enough to walk apart from the crowd. The one willing to take risks and believes in the power of the individual. She is effortless and unconcerned of the way she is perceived. This attitude makes her intriguing to others which is why many are inspired by her. 

  #contact.large-12.columns.hCtrl
    %a{:name => "contact"}
      %h3{"data-magellan-destination" => "contact"}
    %h1 omg contact info


    